<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Copa Donation</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
    <script type="text/javascript" src="public/dist/startup.js"></script>
  </head>

  <body>
    <section class="flex justify-center px-10">
      <div class="flex flex-col justify-center items-center mt-14 gap-10">
        <div class="flex flex-col text-center gap-4">
          <h1 class="text-5xl font-black text-yellow-300 text-title-br-shadow">MID BOOTCAMP</h1>
          <p class="text-5xl font-semibold text-purple-400 text-br-yellow-shadow" id="countdown">
            00:00:00
          </p>
        </div>

        <div
          class="flex justify-center w-[80vw] border-2 border-solid border-green-300 transform rotate-2">
          <div
            class="flex justify-center w-[80vw] p-4 border-2 border-solid border-yellow-300 transform -rotate-2">
            <canvas
              data-web="{{.webTotal}}"
              data-ux="{{.uxTotal}}"
              data-data="{{.dataTotal}}"
              id="myChart"
              style="width: 80%"></canvas>
          </div>
        </div>
        <div class="flex justify-end align-middle">
          <h2 class="text-4xl bote whitespace-nowrap">
            Bote: <span id="potAmount">{{.total}}</span
            >€
          </h2>
        </div>

        <div class="flex flex-col gap-4">
          <h2 class="text-white text-2xl text-bold">convierte tu dinero <br />en alcohol</h2>

          <a
            class="flex justify-center border-2 border-solid border-yellow-300 transform rotate-2"
            href="{{.donateLink}}">
            <div
              class="flex justify-center px-8 py-3 border-2 border-solid border-purple-400 transform -rotate-2 dona">
              <p class="text-3xl font-black text-white cursor">invierte aquí</p>
            </div>
          </a>
        </div>

        <div class="w-full">
          <ul id="listOfDontaions" class="p-4 flex flex-col">
            {{
              range.donations
            }}
            <li class="text-white w-full grid grid-cols-4 items-center gap-2 mb-2">
              <div class="col-span-1">
                {{if eq .Bootcamp "web"

























                }}<span class="text-yellow-300">{{.Name}}</span
                >:
                {{else if eq .Bootcamp "ux"

























                }}<span class="text-purple-400">{{.Name}}</span
                >: {{else if eq .Bootcamp "data"}} <span class="text-green-300">{{.Name}}</span
                >:{{ end }}
              </div>

              <div class="text-center col-span-1">{{.Amount}}€</div>

              <div class="col-span-2">{{.Message}}</div>
            </li>
            {{
              end
            }}
          </ul>
        </div>
      </div>
    </section>
  </body>
  <script type="text/javascript" src="public/dist/main.js"></script>
</html>
